@use './helpers/mixins' as *;
@use './helpers/vars' as *;
@use './utils/utils.scss' as *;
@use './helpers/container' as *;

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

@font-face {
    font-family: 'Metamorphous';
    src: url('../fonts/Metamorphous.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  font-family: 'Metamorphous';
}